<div class="col">
  <div id='success' class='alert alert-success'{{#if noMessage}} hidden {{/if}}>
    {{successMsg}}
  </div>
</div>
<!-- Showcase -->
<section class="section-a">
  <div class="container text-center">
    <div>
      <h1>Welcome to Premier Drones!</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       </p>
    </div>
       <img src="/images/drone_6.jpg" id ='index_img' alt="">
  </div>
</section>
