<h1>Get your stuff!</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>col 1</p>
    </div>
    <div class="col-sm">
      <p>col 2</p>
    </div>
    <div class="col-sm">
      <p>col 3 </p>
    </div>
  </div>
</div>
