<!-- products display -->
  <div class="row">
    {{# each datas}}
      <div class="col-sm-6 col-md-4" align="center">
        <img src="/images/drone_1.jpg" id="thumbnail" alt="">

          <h3>{{ this.title}}</h3>
          <p>{{ this.description}}</p>
          <p>{{this.price}}</p>
          <a href="/add_to_cart/{{this._id}}" class="btn btn-success" role= "button">Add to cart</a>

      </div>
      {{/each}}
  </div>
