


  <div class="row">
    {{# each datas}}
      <div class="col-sm-6 col-md-4" align="center">
        <img src="/images/drone_1.jpg" id="thumbnail" alt="">

          <h3>{{ this.title}}</h3>
          <p>{{ this.description}}</p>
          <p>{{this.price}}</p>
          <button type="button" name="button">Add to cart</button>

      </div>
      {{/each}}
  </div>
